body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    max-width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    color: rebeccapurple;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
    background-color: blueviolet;
    color: pink;
    border-color: indigo;
    border-width: thin;
}

#re:hover {
    width: 6rem;
}

button:hover {
    height: 1.5rem;
    width: 3rem;
}

#root {
    padding-top: 0.01rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: aliceblue;
}
